<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">          
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h4>Tarjeta Nevada</h4>
            <p>Ano 2007-2015</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequatur ipsum eaque libero aliquid pariatur explicabo laborum reprehenderit fugiat commodi. Iste repellat veritatis cupiditate totam voluptas voluptate possimus tempore dignissimos?</p>
            <h4>Tarjeta </h4>
            <p>Ano 2007-2015</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequatur ipsum eaque libero aliquid pariatur explicabo laborum reprehenderit fugiat commodi. Iste repellat veritatis cupiditate totam voluptas voluptate possimus tempore dignissimos?</p>

        </span>
    </div>
    
</div>