.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*estilo foto Perfil*/
@media(min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
/* etiqueta Nombre*/
#nombre{
    font-weight: bold;
    margin-top: 5%;
}